@media only screen and (max-width: 2500px) {
    .header {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-LG1.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-LG1.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
    }
    .section-follow {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-LG1.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-LG1.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        background-attachment: fixed;
        }
    
    .section-testimonials {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/alexis-antoine-qb9L7rxAUOk-unsplash-LG1.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/alexis-antoine-qb9L7rxAUOk-unsplash-LG1.jpg);
        background-size: cover;
        color: rgb(255, 255, 255);
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        background-attachment: fixed;
    }
}


/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    
    .row { padding: 0 2%; }
    iframe { width: 70%; }


    body { font-size: 18px;  }
    .section { padding: 0 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }


    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .logo {
        height: 54px;
    }

    .follow-link-nav ul {
        display: inline-flex;
        margin-top: 10px;
    }
    iframe { width: 60%; }
 
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: rgb(0, 0, 0); }
    .sticky .follow-link-nav i { 
        color: rgb(0, 0, 0);
     }

    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }

    .spotify-player-test {
        width: 300px;
    }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .box img {
        width: 50%;
    }
    
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    .contact-form { width: 80%; }



/* ----------------------------------------------- */
/* Section Follow */
/* ----------------------------------------------- */




@media only screen and (max-width: 1000px) {

    .header {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.4)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
    }

    .show {
        position: relative;
        z-index: 100000;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        background-position: center;
        background-attachment: fixed;
    }

    .sticky .show {
        position: relative;
        z-index: 100000;
        background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;

        background-position: center;

        background-attachment: fixed;
    }

    .section-testimonials {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/alexis-antoine-qb9L7rxAUOk-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/alexis-antoine-qb9L7rxAUOk-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        background-position: center;
        height: 100%;
        background-attachment: fixed;
    }

    .section-follow {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        background-attachment: fixed;
    }
}

/* 
Small screens */
@media only screen and (max-width: 500px) {


    .logo {
        height: 39px;
    }
    .logo-black {
        height: 39px;
    }
    .main-nav-solid {
        position: relative;
        z-index: 100000;
        background-color: rgb(255, 255, 255);
        float: right;
        border: 1px solid white;
        left: -92%;
        padding-right: 20px;
    }
    
    .main-nav-not-solid {
        position: relative;
        z-index: 100000;
        float: right;
        padding-right: 18px;
    }

    .sticky .main-nav-solid {
        /* position: relative; */
        z-index: 100000;
        background-color: rgb(255, 255, 255);
        float: right;
        padding-right: 18px;
        padding-top: 60px;
    }
    .sticky .main-nav-solid li {
        padding-right: 10px;
        padding-top: 20px;
    }
    
    .header {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
    }



    .show {
        position: relative;
        z-index: 100000;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .sticky .show {
        position: relative;
        z-index: 100000;
        background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-SM-1000.jpg);
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-SM-1000.jpg);
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .section-testimonials {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/alexis-antoine-qb9L7rxAUOk-unsplash-MD-2000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/alexis-antoine-qb9L7rxAUOk-unsplash-MD-2000.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        color: rgb(255, 255, 255);
        background-attachment: fixed;
        background-position: center;
        height: 100%;
    }

    .section-follow {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/sven-scheuermeier-tqzqzH8hb5A-unsplash-MD1-1000.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        background-position: center;
        height: 100%;
        background-attachment: fixed;
    }
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .logo { height: 39px;}
    .logo-black { height: 36px;}
    text 
    {
        margin: 0 8px;
    }
}

